@mixin backgroundAnimation($color1:#f3f3f3, $color2:#ecebeb){
  background: linear-gradient(130deg, $color1, $color2, #eaeaea, #f3f1f1);
  background-size: 800% 800%;

  -webkit-animation: bg 2s ease infinite;
  -moz-animation: bg 2s ease infinite;
  -o-animation: bg 2s ease infinite;
  animation: bg 2s ease infinite;

  @-webkit-keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
  }
  @-moz-keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
  }
  @-o-keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
  }
  @keyframes bg {
    0%{background-position:0% 10%}
    50%{background-position:100% 91%}
    100%{background-position:0% 10%}
  }
}
